<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Propietario</title>
    <link th:href="@{/css/editarP.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Editar Propietario</h1>

        <form action="#" th:action="@{/propietario/editar}" th:object="${propietario}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="clave">Clave:</label>
                <input type="password" id="clave" th:field="*{clave}" required>
            </div>
            <div class="form-group">   
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" th:field="*{nombre}" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" th:field="*{apellido}" required>
            </div>
            <div class="form-group">
                <label for="fechanacimiento">FechaNacimiento:</label>
                <input type="date" id="fechanacimiento" th:field="*{fechanacimiento}" required>
            </div>
            <div class="form-group">
                <label for="genero">Género:</label>
                <input type="text" id="genero" th:field="*{genero}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="telefono">telefono:</label>
                <input type="text" id="telefono" th:field="*{telefono}" required>
            </div>
            <div class="form-group">
                <button type="submit">Guardar Cambios</button>
            </div>
        </form>
        
        <a href="javascript:history.back()" class="back-button"><i class="fas fa-arrow-left"></i>Volver</a>
        <div class="text-center">
            <a href="/" class="btn"><i class="fas fa-home"></i> Ir a Inicio</a>
        </div>
    </div>
</body>
</html>

